In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('country_year_ranges_copy.csv')

In [9]:
df.head(5)

     country country_lower   year0   year1  migyears
0  Argentina    argentina   1965.0  2001.0       5.0
1    Bolivia       bolivia  1971.0  2001.0       5.0
2   Botswana      botswana  1980.0  2011.0       1.0
3    Burkina   burkinafaso  1995.0  2006.0       1.0
4     Brazil        brazil  1986.0  2010.0       5.0

In [10]:
df['year0'].min(), df['year0'].max()

(1953.0, 2007.0)

In [11]:
df['year1'].min(), df['year1'].max()

(1973.0, 2011.0)

In [12]:
sorted(df['migyears'].unique())

[1.0, 5.0, 8.0, 9.0, 10.0, 14.0]