In [6]:
import numpy as np
import xarray as xr
import pandas as pd

In [7]:
pd.read_stata

In [20]:
import os
os.listdir()
filename='pwt_income_adm1.dta'
#filepath = os.getcwd() + "/{0}".format(filename)
filepath = "."+ "/{0}".format(filename)

print (filepath)

./pwt_income_adm1.dta

In [23]:
dt = pd.read_stata(filepath)
dt.describe()

,year,gdppccountry,gdppcstate,gdppc_adm0_PWT,gdppcstate_rescaled
count,88358.000000,9479.000000,9479.000000,88280.000000,57107.000000
mean,1985.220116,12853.722656,11863.801758,13614.154297,15259.715820
std,18.224983,11655.899414,11882.170898,15113.656250,15098.367188
min,1950.000000,365.323792,188.968506,161.594772,228.565933
25%,1970.000000,4378.643066,3032.363525,4181.044434,5059.138428
50%,1987.000000,8065.569824,6865.508789,9317.794922,10263.880859
75%,2001.000000,20244.890625,18713.495117,17801.166016,21583.263672
max,2014.000000,105184.203125,166007.296875,238585.437500,317208.687500

In [35]:
dt['gdppccountry'].value_counts()
dt['gdppccountry'].isnull().sum()

dt['gdppcstate_rescaled'].isnull().sum()

31251

In [33]:
# Count NAN
count_nan = len(dt) - dt.count()
count_nan

countryname                0
countrycode                0
region                     0
year                       0
gdppccountry           78879
gdppcstate             78879
gdppc_adm0_PWT            78
gdppcstate_rescaled    31251
dtype: int64

In [42]:
dt['gdppcstate_rescaled']
dt[1:100]

df = dt
df.loc[df['gdppcstate_rescaled'] == np.nan]

Empty DataFrame
Columns: [countryname, countrycode, region, year, gdppccountry, gdppcstate, gdppc_adm0_PWT, gdppcstate_rescaled]
Index: []

In [52]:
df['gdppcstate_rescaled'][1]

nan